StockExchangeService.Tests/Service References/TestingService/StockQuoteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.centralgps.net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.centralgps.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.centralgps.net/">
      <s:element name="GetActualStockPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActualStockPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetActualStockPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockList">
        <s:complexType />
      </s:element>
      <s:element name="GetStockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockListResult" type="tns:ArrayOfStockSymbol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStockSymbol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockSymbol" nillable="true" type="tns:StockSymbol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockSymbol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketCap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPOYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sector" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created_at" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActualStockPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetActualStockPrice" />
  </wsdl:message>
  <wsdl:message name="GetActualStockPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetActualStockPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockList" />
  </wsdl:message>
  <wsdl:message name="GetStockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockListResponse" />
  </wsdl:message>
  <wsdl:portType name="StockQuoteServiceSoap">
    <wsdl:operation name="GetActualStockPrice">
      <wsdl:input message="tns:GetActualStockPriceSoapIn" />
      <wsdl:output message="tns:GetActualStockPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockList">
      <wsdl:input message="tns:GetStockListSoapIn" />
      <wsdl:output message="tns:GetStockListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuoteServiceSoap" type="tns:StockQuoteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActualStockPrice">
      <soap:operation soapAction="https://www.centralgps.net/GetActualStockPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockList">
      <soap:operation soapAction="https://www.centralgps.net/GetStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuoteServiceSoap12" type="tns:StockQuoteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActualStockPrice">
      <soap12:operation soapAction="https://www.centralgps.net/GetActualStockPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockList">
      <soap12:operation soapAction="https://www.centralgps.net/GetStockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuoteService">
    <wsdl:port name="StockQuoteServiceSoap" binding="tns:StockQuoteServiceSoap">
      <soap:address location="http://localhost/StockExchangeService/StockQuoteService.asmx" />
    </wsdl:port>
    <wsdl:port name="StockQuoteServiceSoap12" binding="tns:StockQuoteServiceSoap12">
      <soap12:address location="http://localhost/StockExchangeService/StockQuoteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>